@import "../../assets/common-ui/util.scss";

.toast{
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-width: 88%;
    line-height: 21px;
    font-size: 14px;
    color: #fff;
    text-align: center;
    // background: rgba(0, 0, 0, .5);
    background-color: #AAAABB;
    padding: 10px;
    border-radius: 5px;
    z-index: 100009;
    &-loading {
        padding: 10px 15px;
    }
    &_loading_icon {
        display: inline-block;
        width: 22px;
        height: 22px;
        margin-bottom: 15px;
        @include bg('icon-loading.png', 'components');
        animation: ani-loading 0.9s linear infinite;
        vertical-align: middle;
    }
    &_tip{
        white-space: normal;
        word-break: break-all;
    }
}
